body{
    background-color: white;
}

.header {
    display: flex;
}

.logo {
    flex: 0.5;
    width: 7vh;
}  

.nav-bar {
    margin-top: 1vh;
    flex: 1;
}  

.elemento-lista{
    margin-right: 5vh;
    
}

.container-immagine{
    width: 100%; 
    height: 80vh;
    overflow: hidden;
}

.immagine-home{
    width: 100%; 
    height: auto;
    display: block; 
    
}