@font-face {
    font-family: 'Sottotitoli';
    src: url('./Assets/Fonts/Qwigley-Regular.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Titoli';
    src: url('./Assets/Fonts/helveticaneue-roman.otf') format('truetype'); 
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
}

.logo {
    flex: 0.5;
    width: 7vh;
    margin-left: 0.5vh;
}  

.nav-bar {
    margin-top: 1vh;
    flex: 1;
}  

.lingua{
    margin-top: 2.3vh;
    margin-right: 2vh;
    flex: 0.5;
}

.elemento-lista{
    margin-right: 5vh;
    text-decoration: none;
    color: black;
    font-family: 'Titoli';
}

.elemento-lista:hover{
    color: #5C6B5F;
}

.container-immagine{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    border: none; 
    display: block; 
}

.immagine-home{
    width: 100%;
    height: auto; 
    display: block;
    border: none;
}

.text-image{
    position: absolute;
    top: 30vh;
    left: 10vh; 
    width: auto;
    color: #fff; 
    z-index: 1;
    font-size: 22vh;
    font-family: 'Titoli';
}

.sottotitolo{
    position: absolute;
    top: 47vh;
    left: 56.5vh; 
    width: auto;
    color: #fff; 
    z-index: 1;
    font-size: 10vh;
    font-family:'Sottotitoli';
    transform: rotate(-10deg);
}

.sottotitolo-ovale{
    position: absolute;
    top: 49.5vh;
    left: 54.5vh; 
    width: 25vh;
    height: 7vh;
    color: #fff; 
    z-index: 1;
    transform: rotate(-10deg);
    border: 1px solid #fff;
    border-radius: 100%;
}

.button {
    background-color: white; 
    border: none; 
    padding: 5px 10px;
    cursor: pointer; 
    border-radius: 8px; 
    transition: background-color 0.3s;
    font-family: 'Titoli';
}


.button:hover {
    background-color: #5C6B5F;
    color: #fff;
}